!!!
%html
  %head
    <!-- Get out of my source you #{@insult.to_s}! -->
  
    %title Randomly Insult Me

    %meta{:name => "description", :content => "Randomly Insult Me. An insult generator."}
    %meta{:name => "keywords", :content => "randomly, random, insult me, insult, insult generator, random insult, reddit, #{Insult::PREFIXES.join(", ")}, #{Insult::POSTFIXES.join(", ")}"}
    %meta{:name => "robots", :content => "index, follow"}

    %link{:href => '/stylesheet.css', :rel => 'stylesheet', :type => 'text/css'}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18310332-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #container
      #insult= yield
      .push
    #footer
      %p
        - if request.fullpath == "/"
          %a{:href => @insult.link} Permalink
        - else
          %a{:href => "/"} Random
        &mdash;
        %a{:href => "mailto:please@randomlyinsult.me"} please@randomlyinsult.me
        &mdash;
        %a{:href => "http://github.com/kmcphillips/randomlyinsult.me"} Source on GitHub
