* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: #FFF;
  color: #000;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0em;
  margin-bottom: .25em;
  font-weight: bold;
}
h1 { font-size: 2.2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
p {
  margin-bottom: 1em;
  line-height: 1.3;
}
a {
  color: #095EAE;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#container {
  min-height: 100%;
  height: auto !important;
	height: 100%;
	margin: 0 auto -1.5em;
}

#insult {
  padding: 16% 0 0 0;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 6em;
	font-weight: bold;
}

#insult .again {
  padding-top: 9%;
	font-size: 0.3em;
	font-weight: normal;
}

#footer {
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  text-align: center;
}

#footer, .push {
 height: 1.5em;
}